@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../font/kaushanscript-regular-webfont.woff2') format('woff2'),
        url('../font/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    box-sizing: border-box;
    background-color: rgb(22, 22, 22);
    margin: 0;
    padding: 0;
}

.allLogo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 40px;
    margin-right: 10px;
}



.textProjet {
    font-family: kaushan_scriptregular, Haettenschweiler, Arial Narrow Bold, sans-serif;
    font-size: 3.5em;
    color: rgb(185, 185, 185);
}

.textIntro {
    font-size: 2.5em;
    color: rgb(185, 185, 185);
    font-family: kaushan_scriptregular, Haettenschweiler, Arial Narrow Bold, sans-serif;
}

#redim {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
}

.container2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: black;
}


.textFront {
    margin-left: 50px;
    color: rgb(69, 69, 68);
    font-family: 'Jost', sans-serif;
}



.textBack {
    margin-left: 50px;
    color: rgb(69, 69, 68);
    font-family: 'Jost', sans-serif;
}


.titreSp {
    font-family: 'Jost', sans-serif;
    color: rgb(185, 185, 185);
}


.eP {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(26, 26, 26);
    margin-top: 90px;
    font-size: 1.2em;
}

.cardProject {
    display: flex;
    flex-direction: row;
}

.carre2 {
    margin-left: 90px;
}


h3 {
    font-size: 1.5em;
}


.styleList {
    font-size: 1em;
    font-style: italic;
    font-family: 'Jost', sans-serif;
    color: rgb(194, 183, 183);
}

.projet1 {
    height: 15em;
    width: 25em;
    margin-top: 30px;
}

.projet2 {
    height: 14.9em;
    width: 25em;
    margin-top: 30px;
}

.presentation {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.imgAbas img {
    clip-path: ellipse(50% 38%);
    height: 150px;
    margin-top: -60px;
}

.nomPrenom {
    font-family: kaushan_scriptregular, Haettenschweiler, Arial Narrow Bold, sans-serif;
    color: rgb(194, 183, 183);
}

.ageAbas {
    font-family: kaushan_scriptregular, Haettenschweiler, Arial Narrow Bold, sans-serif;
    color: rgb(194, 183, 183);
    font-size: small;
}


a {
    color: rgb(165, 187, 187);
    text-decoration: none;
}

.devWeb {
    font-family: kaushan_scriptregular, Haettenschweiler, Arial Narrow Bold, sans-serif;
    font-size: 25px;
    color: rgb(194, 183, 183);
}

.mail {
    font-family: kaushan_scriptregular, Haettenschweiler, Arial Narrow Bold, sans-serif;
    font-size: 15px;
    color: rgb(194, 183, 183);
    text-decoration: underline;
}


/* partie de compétence et diplome */

.barreSuite {
    position: absolute;
    border-left: 1.5px solid;
    height: 49.5%;
    margin-left: 230px;
    margin-top: -64.1em;
    visibility: visible;
}

.barreSuite2 {
    position: absolute;
    border-left: 1.5px solid;
    height: 90%;
    margin-left: 230px;
    margin-top: -590px;
}


.textP {
    font-family: 'Montserrat', sans-serif;
    color: rgb(194, 183, 183);
    font-size: 1.2em;
}

.textP2 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(194, 183, 183);
    font-size: 1.2em;
}

.textcv {
    color: rgb(111, 104, 104);
}

.bigDiv {
    display: flex;
    margin-top: -20px;
}

.listInformatique ol li {
    margin: 9.5px 2px;
}

.informatique ol li {
    font-family: 'Montserrat', sans-serif;
    color: rgb(194, 183, 183);
}

.logoInfo li {
    font-family: 'Montserrat', sans-serif;
}


.textEp {
    font-family: 'Montserrat', sans-serif;
    color: rgb(194, 183, 183);
}

h2 {
    color: rgb(194, 183, 183);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    text-decoration: underline;
}

.logoMots li {
    list-style: none;
}

.projR {
    font-size: 5em;
}



/* media */

@media screen and (min-width:1157px) and (max-width:1370px) {}


@media screen and (min-width:1371px) and (max-width:1920px) {
    .textIntro {
        font-size: 400%;
    }

    .textProjet {
        font-size: 400%;
    }

    .textP {
        font-size: 200%;
    }

    .textP2 {
        font-size: 200%;
    }

    .projet1 {
        height: 65%;
        width: 85%;
    }

    .projet2 {
        height: 65%;
        width: 85%;
    }


    .barreSuite {
        visibility: hidden;
    }

    .barreSuite2 {
        visibility: hidden
    }

    .topInfo img {
        height: 500px;
    }

    .nomPrenom {
        font-size: 130%;
    }

    .ageAbas {
        font-size: 130%;
    }

    .devWeb {
        font-size: 130%;
    }

    .presentation {
        margin-left: 50px;
    }


    .eP {
        font-size: 180%;
    }

    .styleList {
        font-size: 170%;
    }

    .titreSp {
        font-size: 300%;
    }

}



@media screen and (max-width:1312px) {
    .allLogo {
        margin-left: 80%;
    }

    .barreSuite {
        visibility: hidden;
    }

    .barreSuite2 {
        visibility: hidden;
    }
}

@media screen and (max-width:1101px) {
    .container {
        margin-left: 20%;
    }

    .barreSuite {
        visibility: hidden;
    }

    .barreSuite2 {
        visibility: hidden;
    }
}

@media screen and (max-width:1156px) {
    .textP {
        font-size: 120%;
    }

    .projet1 {
        width: 100%;
    }

    .textP2 {
        font-size: 120%;
    }

    .projet2 {
        width: 100%;
    }

    .barreSuite {
        visibility: hidden;
    }

    .barreSuite2 {
        visibility: hidden;
    }

    .container {
        margin-right: 2%;
    }
}

@media screen and (max-width:1080px) {
    .eP {
        font-size: 90%;
    }
}

@media screen and (max-width:1000px) {
    .textIntro {
        margin-left: 15%;
    }

    .barreSuite {
        visibility: hidden;
    }

    .barreSuite2 {
        visibility: hidden;
    }
}


@media screen and (max-width:768px) {
    .eP {
        flex-direction: column;
        align-items: center;
        font-size: 120%;
    }

    .container {
        margin-left: 30%;
    }

    .cardProject {
        flex-direction: column;
    }

    /* format phone */

    .textP {
        font-size: 130%;
    }

    .projet1 {
        width: 70%;
    }

    .textP2 {
        font-size: 130%;
    }

    .projet2 {
        width: 70%;
    }

    .textIntro {
        font-size: 150%;
    }

    .carre2 {
        margin-left: 0%;
    }

    .barreSuite {
        visibility: hidden;
    }

    .barreSuite2 {
        visibility: hidden;
    }
}

@media screen and (max-width:734px) {
    .allLogo {
        margin-left: 75%;
    }

    .textIntro {
        margin-left: 1%;
    }

    .textcv {
        margin-left: 10%;
    }

    .expPro {
        margin-left: 17%;
    }

}


@media screen and (max-width:375px) {
    .projet1 {
        height: 500%;
    }

    .projet2 {
        height: 500%;
    }

    .container {
        margin-right: 50px;
    }

    .expPro {
        margin-right: 50px;
    }

    .email {
        font-size: 10%;
    }
}


@media screen and (max-width:999px) {
    .container {
        margin-right: 160px;
    }

    .projet2 {
        margin-top: 7px;
    }

    .barreSuite {
        visibility: hidden;
    }

    .barreSuite2 {
        visibility: hidden;
    }
}

@media screen and (min-width:1337px) and (max-width:1366px) {
    .allLogo {
        margin-left: 88%;
    }

    .topInfo img {
        height: 230px;
    }

    .nomPrenom {
        font-size: 120%;
    }

    .ageAbas {
        font-size: 120%;
    }

    .devWeb {
        font-size: 120%;
    }

    .barreSuite {
        visibility: hidden;
    }

    .barreSuite2 {
        visibility: hidden;
    }
}

@media screen and (min-width:1000px) and (max-width:1336px) {
    .nomPrenom {
        font-size: 120%;
    }

    .ageAbas {
        font-size: 120%;
    }

    .devWeb {
        font-size: 120%;
    }

    .barreSuite {
        visibility: hidden;
    }

    .barreSuite2 {
        visibility: hidden;
    }
}

@media screen and (min-width:1337px) and (max-width:1370px) {
    .nomPrenom {
        font-size: 120%;
    }

    .ageAbas {
        font-size: 120%;
    }

    .devWeb {
        font-size: 120%;
    }

    .barreSuite {
        visibility: hidden;
    }

    .barreSuite2 {
        visibility: hidden;
    }
}


@media screen and (min-width:360px) and (max-width:500px) {

    .presentation {
        /* flex-direction: row; */
        margin-top: -160px;
    }


    .allLogo {
        position:absolute;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 125px;
        margin-left: 30%;
        margin-bottom: -500px;
    }


    .imgAbas img {
        position: absolute;
        height: 90px;
        margin-left: 125px;
        margin-top: 130px;
    }

    .nomPrenom {
        position: absolute;
        font-size: 100%;
        margin-left: 4px;
        margin-top: 111px;
        font-family: kaushan_scriptregular, Haettenschweiler, Arial Narrow Bold, sans-serif;
        color: rgb(194, 183, 183);
    }

    .mail {
        font-size: 115%;
        margin-top: 26px;
        margin-left: -101.2px;
        visibility: hidden;
    }

    .ageAbas {
        position: absolute;
        font-size: 100%;
        margin-left: 70px;
        margin-top: 120px;
        font-family: kaushan_scriptregular, Haettenschweiler, Arial Narrow Bold, sans-serif;
        color: rgb(194, 183, 183);
    }

    .devWeb {
        position: absolute;
        font-size: 100%;
        margin-left: 125px;
        margin-top: 103px;
        font-family: kaushan_scriptregular, Haettenschweiler, Arial Narrow Bold, sans-serif;
        color: rgb(194, 183, 183);
    }


    .textIntro {
        width: 90%;
        margin-bottom: 5px;
        margin-top: 200px;
        margin-left: 20px;
        color: rgb(185, 185, 185);
        font-family: kaushan_scriptregular, Haettenschweiler, Arial Narrow Bold, sans-serif;
    }

    .container {
        margin-left: 2px;
        margin-right: 0;
        text-align: center;
        margin-top: 50px;
    }


    .textBack {
        margin-right: 10%;
    }

    .textcv h2 {
        margin-left: 21%;
    }

    .textProjet {
        font-family: kaushan_scriptregular, Haettenschweiler, Arial Narrow Bold, sans-serif;
        font-size: 3.5em;
        color: rgb(185, 185, 185);
    }

    .informatique h2 {
        margin-left: 15%;
    }
}


@media screen and (min-width:533px) and (max-width:591px) {
    .textIntro {
        width: 90%;
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .container {
        margin-left: 2px;
        margin-right: 0;
        text-align: center;
    }

    .textFront {
        margin-right: 50px;
    }

    .textBack {
        margin-right: 5px;
    }

    .textcv h2 {
        text-align: center;
    }
}