body {
    box-sizing: border-box;
    background-color: rgb(22, 22, 22);
    margin: 0;
    padding: 0;
}

.allLogo {
    position: absolute;
    display: flex;
    float: right;
    flex-direction:row;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 72em;
}


.LG {
    height: 41px;
    margin-top: 3px;
    margin-left: 7px;
} 

.textProjet {
    font-family:fantasy;
    font-size: 3.5em;
    color: rgb(99, 99, 98);
}

.textIntro {
    font-size: 2.5em;
    font-family: fantasy;
    color: rgb(111, 104, 104);
}

.container {
   display: flex;
   flex-direction: column;
   margin-left: 250px;
   margin-top: -500px;
}

.container2 {
    display: flex;
    justify-content:center;
    flex-direction: row;
    background-color: black;
}


.textFront {
    margin-left: 50px;
    color: rgb(69, 69, 68);
    font-family: 'Jost', sans-serif;;
}

.textBack {
    margin-left: 50px;
    color: rgb(69, 69, 68);
    font-family: 'Jost', sans-serif;
}


.titreSp {
    font-family: 'Jost', sans-serif;
}


.eP {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(26, 26, 26);
    margin-top: 90px;
    font-size: 1.2em;
}

.cardProject {
    display: flex;
    flex-direction: row;
}

.carre2 {
    margin-left: 90px;
}



h3 {
    font-size: 1.5em;
}


.styleList {
    font-size: 1em;
    font-style: italic;
    font-family: 'Jost', sans-serif;
    color: rgb(99, 99, 98);
}

.projet1 {
    height: 15em;
    width: 25em;
    margin-top: 30px;
}

.projet2 {
    height: 14.9em;
    width: 25em;
    margin-top: 30px;
}


.topInfo img {
    clip-path: ellipse(50% 40%);
    height: 150px;
    margin-left: 20px;
    margin-top: 45px;
}



.nomPrenom {
    font-family: fantasy;
    font-size: 2em;
    color: rgb(194, 183, 183);
    margin-top: 50px;
    margin-left: 20px;
}

.ageAbas {
    font-family: fantasy;
    font-size: 2em;
    color: rgb(194, 183, 183);
    margin-left: 20px;
}


a {
    color: rgb(165, 187, 187);
    text-decoration: none;
}

.devWeb {
    margin-left: 20px;
    font-family: fantasy;
    font-size: 20px;
    color: rgb(194, 183, 183);
    margin-bottom: 40px;
}

.mail {
    font-family: fantasy;
    font-size: 1em;
    color: rgb(194, 183, 183);
    margin-left: 20px;
    text-decoration: underline;
}

.langue {
    margin-top: -11px;
    margin-left: 60px;
    font-family: fantasy;
    color: white;
}

.atouts {
    margin-top: -11px;
    margin-left: 65px;
    font-family: fantasy;
    color: white;
}

.info {
    margin-top: 38px;
    font-size: 18px;
    font-family: fantasy;
    color: rgb(194, 183, 183);
}

.info p {
    margin-bottom: 30px;
}

.centre p {
    margin-top: 38px;
    font-size: 18px;
    font-family: fantasy;
    color: rgb(194, 183, 183);
}


/* partie de compétence et diplome */

.barreSuite {
    position: absolute;
    border-left: 1.5px solid;
    height: 49.5%;
    margin-left: 230px;
    margin-top: -64.1em;
    visibility: visible;
}
.barreSuite2 {
    position: absolute;
    border-left: 1.5px solid;
    height: 90%;
    margin-left: 230px;
    margin-top: -590px;
}


.textP {
    font-family: 'Montserrat', sans-serif;
    color: rgb(194, 183, 183);
    font-size: 1.2em;
}
.textP2 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(194, 183, 183);
    font-size: 1.2em;
}

.textcv { 
    font-family: fantasy;
    color: rgb(111, 104, 104);
}

.bigDiv {
    display: flex;
    margin-top: -20px;
}

.listInformatique ol li{
    margin: 9.5px 2px;
}

.expPro {
    font-family: fantasy;
    color: rgb(111, 104, 104);
}

.informatique ol li{
    font-family: fantasy;
    color: rgb(111, 104, 104);
} 

.logoInfo li{
    font-family: 'Montserrat', sans-serif;
}


.textEp {
   font-family: 'Montserrat', sans-serif;
}

h2 {
    color: rgb(194, 183, 183);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    text-decoration: underline;
}

.logoMots li{
    list-style: none;
}


.projR {
    font-size: 5em;
}



/* media */
